.output-page-header-text {
  font-size: 30px;
  color: rgb(100, 100, 100);
  text-shadow: 1px 1px 2px rgb(50, 50, 50);
}

.output-page-plain-text {
  font-size: 20px;
  font-weight: 600;
  margin-top: 3px;
  margin-bottom: 3px;
  max-width: 100%;
  color: black;
  text-align: left;
  line-height: 1.6;
}

#output-page-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  position: absolute;
  overflow-y: scroll;
  scrollbar-width: none;
  left: 50vw;
  transform: translateX(-50%);
  width: 1100px;
  height: 600px;
  margin-top: 60px;
  padding: 50px;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 50px;
  text-align: center;
}

#output-page-recommended-title {
  margin-top: 0;
}

.sub-header {
  font-size: 22px;
  color: #444;
  margin-top: 25px;
  margin-bottom: 5px;
  text-align: left;
  width: 100%;
  border-bottom: 1px solid #ccc;
}

.analysis-block {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  padding: 0 20px;
}

ul.output-page-plain-text {
  list-style-type: disc;
  padding-left: 40px;
}

.paragraph-group {
  margin-bottom: 30px;
  width: 100%;
}